{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <section class="hero">
    </section>
    <section class="container my-5">
        <div id="tricks" class="row g-4 d-sm-flex">
            {% for trick in tricks %}
                <div class="col-12 col-md-6 col-lg-3 pt-5">
                    {% include "trick/_trick_card.html.twig" %}
                </div>
            {% endfor %}
        </div>

        <div id="loadMoreSection" class="my-5 d-flex justify-content-center align-items-center">
            <a href="{{ path('homepage') }}" id="js-loadMore_tricks" class="btn btn-primary"><i class="fa fa-spinner"></i> Charger Plus</a>
        </div>
    </section>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('removeTrick') }}
    {{ encore_entry_script_tags('loadmore') }}
{% endblock %}
