<footer class="footer mt-auto bg-dark text-white pt-5 pb-4">
    <div class="container text-center text-md-start">
        <div class="row text-center text-md-start">

            <div class="col-md-3 col-lg-4 col-xl-4 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold text-warning">SnowTricks</h5>
                <p>Site communautaire de partage sur les figures de snowboard. Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ea eaque eius fuga, pariatur ullam.
                </p>
            </div>

            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold text-white">Categories</h5>
                <p><a href="#" class="text-white">Flips</a></p>
                <p><a href="#" class="text-white">Rotations</a></p>
                <p><a href="#" class="text-white">Grabs</a></p>
                <p><a href="#" class="text-white">Slides</a></p>
                <p><a href="#" class="text-white">Jumps</a></p>
            </div>

            <div class="col-md-3 col-lg-2 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold text-white">Newsletter</h5>
                <div class="form-group">
                    <label for="exampleInputEmail1" class="form-label mt-4">Adresse Email</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" data-dashlane-rid="45f72ed2ad8ef4ef" data-form-type="email" data-kwimpalastatus="alive" data-kwimpalaid="1636449285336-3">
                </div>
            </div>

            <hr class="mb-4">

            <div class="row align-items-center">
                <div class="col-md-7 col-lg-8">
                    <p>Copyright &copyRedpanda 2021 Tous droits réservés.
                    </p>
                </div>

                <div class="col-md-5 col-lg-4">
                    <div class="text-center text-md-end">
                        <ul class="list-unstyled list-inline">
                            <li class="list-inline item">
                                <a href="#" class="text-secondary"><i class="fab fa-facebook"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>


        </div>
    </div>
</footer>