{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}

{% block title %} Page non trouvée {% endblock %}
{% block body %}
    <!-- Start Error Page Area -->
    <section class="error-page section my-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-12">
                    <!-- Error Image -->
                    <div class="error-image">
                        <img src="{{ asset('/build/images/error.svg') }}" alt="#">
                    </div>
                    <!--/ End Error Image -->
                </div>
                <div class="col-lg-6 col-12">
                    <!-- Error Text -->
                    <div class="error-text">
                        <h2><span>Desolé!</span>Erreur serveur</h2>
                        <p>Oops! La page que vous cherchez ne semble pas exister. Elle a peut etre été deplacée ou suprimée.</p>
                        <div class="button">
                            <a href="/" class="btn">Retourner à l'Accueil</a>
                        </div>
                    </div>
                    <!--/ End Error Text -->
                </div>
            </div>
        </div>
    </section>
    <!-- End Error Page Area-->
{% endblock %}