{% extends 'base.html.twig' %}

{% block title %}Ajouter un trick{% endblock %}

{% block body %}
    <section class="container my-5">
        <h2>Ajouter un trick</h2>
        {% include ('trick/_createForm.html.twig') %}
    </section>
{% endblock %}

 {% block javascripts %}
     {{ parent() }}
     {{ encore_entry_script_tags('formImage') }}
 {% endblock %}